In [2]:
import requests
from pprint import pprint
import pandas as pd
from pymongo import MongoClient
import json
pd.options.display.max_colwidth = 200

In [ ]:
url= "https://api.petfinder.com/v2/animals"
response = requests.get(url, headers={"Authorization":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJTWjROV3hJd0tORlRFU01KTGVNeUJLendsa0NDQlNpZm11RU1BNW1yMmM5SXhzRFIwaSIsImp0aSI6IjExYTk5ZGJhNDA1Yzg3MzIyMjc0NzExNzVmODhmNGVmYzNjMTY3ZDg4NWJjM2FiZjI5NmQ5Y2VhNmMzOGJlYjFiYWVkMzdiZmY2ZWJhYzAzIiwiaWF0IjoxNzA2MTU0MzAzLCJuYmYiOjE3MDYxNTQzMDMsImV4cCI6MTcwNjE1NzkwMywic3ViIjoiIiwic2NvcGVzIjpbXX0.nS9p1wF2S7frpPqIapDuB_FSxAD-qnK80yz9g3ayH8gmvsHXph7wiJZSIQg7TNS0iwMMORSnudXRVA8H7OfXCvvLP0RSl7_jtE8hH51xWPlX8SsGMQxBEzlZ1i2gGbGkmheuC2ypTkAG9DwzcTWtyKTYQ0dwxrjsmAMR6KQ-oDlWXrDEm1Xi6GYKwfBtFKbw24yhnZ5ndLGyHxhbQF2n0FlLFb7J9t3vqbaI2N36bkqzzQFaIF3BXhLKO5ZtfSb382Ar1di70MASz60Suv2eqbU6Ame35VO4r-A-od9uOdcQ5QNqIUMGkhNlmgwl8inO3nuJSGIDOx_6smi5SxiQ_"})
response

In [ ]:
#for loop to loop through pages and put entries into an array to store as a database

#empty list to append to 
total_results = []

# Loop through from pages 1 to 14326
for page_num in range(1,300):  # Adjusted the range to include the last page
    # Build the URL and download the results
    url = "https://api.petfinder.com/v2/animals"
    params = {"page": page_num}  # Add the page parameter
    response = requests.get(url, params=params, headers={"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJTWjROV3hJd0tORlRFU01KTGVNeUJLendsa0NDQlNpZm11RU1BNW1yMmM5SXhzRFIwaSIsImp0aSI6IjExYTk5ZGJhNDA1Yzg3MzIyMjc0NzExNzVmODhmNGVmYzNjMTY3ZDg4NWJjM2FiZjI5NmQ5Y2VhNmMzOGJlYjFiYWVkMzdiZmY2ZWJhYzAzIiwiaWF0IjoxNzA2MTU0MzAzLCJuYmYiOjE3MDYxNTQzMDMsImV4cCI6MTcwNjE1NzkwMywic3ViIjoiIiwic2NvcGVzIjpbXX0.nS9p1wF2S7frpPqIapDuB_FSxAD-qnK80yz9g3ayH8gmvsHXph7wiJZSIQg7TNS0iwMMORSnudXRVA8H7OfXCvvLP0RSl7_jtE8hH51xWPlX8SsGMQxBEzlZ1i2gGbGkmheuC2ypTkAG9DwzcTWtyKTYQ0dwxrjsmAMR6KQ-oDlWXrDEm1Xi6GYKwfBtFKbw24yhnZ5ndLGyHxhbQF2n0FlLFb7J9t3vqbaI2N36bkqzzQFaIF3BXhLKO5ZtfSb382Ar1di70MASz60Suv2eqbU6Ame35VO4r-A-od9uOdcQ5QNqIUMGkhNlmgwl8inO3nuJSGIDOx_6smi5SxiQ_w"})
    
    data = response.json()
    
    # Check if 'animals' key is present in the response and append list 
    if 'animals' in data:
        total_results.extend(data['animals'])

print(f"length is {len(total_results)}")

animals_df= pd.DataFrame(total_results)
animals_df.head()

In [ ]:
#remove unwanted columns and keep only columns of interest
new_animals_df= animals_df[['id','organization_id','name','type','age','gender','size','contact','url']]
len(new_animals_df)

In [ ]:
#save dirty rough draft as csv---this file has not been cleaned 
new_animals_df.to_csv('project3_animals.csv')

In [3]:
#read in uncleaned initial csv file to clean  
data= pd.read_csv('../resources/project3_animals.csv')
#count to see how many rows there are before cleaning and removing unwanted type 
data.count()

Unnamed: 0         2320
id                 2320
organization_id    2320
name               2320
type               2320
age                2320
gender             2320
size               2320
contact            2320
url                2320
dtype: int64

In [ ]:
#clean up column "type" and filter so that only dog and cat appears for analysis
cleaned_animals = data[(data['type'] == 'Dog') | (data['type'] == 'Cat')]
cleaned_animals.head()

In [5]:
#confirm it cleaned and that only cat and dog appear under type column by running .unique 
cleaned_animals['type'].unique()

array(['Dog', 'Cat'], dtype=object)

In [6]:
#checking how many rows there are initially to reference when i drop duplicates and na 
cleaned_animals.count()

Unnamed: 0         2272
id                 2272
organization_id    2272
name               2272
type               2272
age                2272
gender             2272
size               2272
contact            2272
url                2272
dtype: int64

In [7]:
#dropped duplicates, but the amount of rows is the same 2272
drop_dup= cleaned_animals.drop_duplicates()
drop_dup.count()

Unnamed: 0         2272
id                 2272
organization_id    2272
name               2272
type               2272
age                2272
gender             2272
size               2272
contact            2272
url                2272
dtype: int64

In [8]:
#dropped na, but amount of rows is the same 2272
drop_na = cleaned_animals.dropna()
drop_na.count()

Unnamed: 0         2272
id                 2272
organization_id    2272
name               2272
type               2272
age                2272
gender             2272
size               2272
contact            2272
url                2272
dtype: int64

In [9]:
#after researching more, we decided to drop duplicate pet names that indicate fostered pets, check length of duplicate names to ensure duplicate names get dropped
len(cleaned_animals['name'].unique())

1914

In [20]:
#dropping duplicate names from 'name' column
dropped_dup_df= cleaned_animals.drop_duplicates(subset=['name'])

#confirming length is the same as the unique names above to ensure duplicate names got dropped
len(dropped_dup_df['name'])

1914

In [26]:
# Example DataFrame
animals_2 = pd.DataFrame(dropped_dup_df)

# Extract the first two letters into a new "States" column
animals_2['state'] = cleaned_animals['organization_id'].str[:2]

# Display the resulting DataFrame
animals_2.head()

,Unnamed: 0,id,organization_id,name,type,age,gender,size,contact,url,state
0,0,70490327,TX2305,Davon,Dog,Adult,Male,Large,"{'email': 'rescue@throwadogabone.org', 'phone': None, 'address': {'address1': None, 'address2': None, 'city': 'Woodburn', 'state': 'OR', 'postcode': '97071', 'country': 'US'}}",https://www.petfinder.com/dog/davon-70490327/or/woodburn/throw-a-dog-a-bone-dog-rescue-tx2305/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content=7c...,TX
1,1,70490328,MO486,Mack,Dog,Adult,Female,Extra Large,"{'email': 'wonderweimsrescue@gmail.com', 'phone': None, 'address': {'address1': None, 'address2': None, 'city': 'St. Louis', 'state': 'MO', 'postcode': '63129', 'country': 'US'}}",https://www.petfinder.com/dog/mack-70490328/mo/st-louis/wonder-weims-rescue-mo486/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content=7ce2fffe-d69d-...,MO
2,2,70490326,MI812,Lahni! DNA tested!,Dog,Adult,Female,Large,"{'email': 'misfitangels@gmail.com', 'phone': '(586) 339-5443', 'address': {'address1': None, 'address2': None, 'city': 'Eastpointe', 'state': 'MI', 'postcode': '48021', 'country': 'US'}}",https://www.petfinder.com/dog/lahni-dna-tested-70490326/mi/eastpointe/misfit-angels-dog-rescue-mi812/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_con...,MI
3,3,70490283,MS214,Jughead Jones,Dog,Baby,Male,Large,"{'email': 'myjerichorfb@gmail.com', 'phone': '(662) 401-5799', 'address': {'address1': None, 'address2': None, 'city': 'Baldwyn', 'state': 'MS', 'postcode': '38824', 'country': 'US'}}",https://www.petfinder.com/dog/jughead-jones-70490283/ms/baldwyn/jericho-rescued-fur-babies-ms214/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content...,MS
4,4,70490324,AZ57,Mona,Dog,Young,Female,Large,"{'email': 'blackhathumane@gmail.com', 'phone': '(575) 999-6236', 'address': {'address1': None, 'address2': None, 'city': 'Albuquerque', 'state': 'NM', 'postcode': '87107', 'country': 'US'}}",https://www.petfinder.com/dog/mona-70490324/nm/albuquerque/blackhat-humane-society-az57/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content=7ce2fffe...,AZ

In [27]:
#remove unwanted columns and keep only columns of interest
new_animals_df2= animals_2[['id','organization_id','state','name','type','age','gender','size','url']]
new_animals_df2.head()

,id,organization_id,state,name,type,age,gender,size,url
0,70490327,TX2305,TX,Davon,Dog,Adult,Male,Large,https://www.petfinder.com/dog/davon-70490327/or/woodburn/throw-a-dog-a-bone-dog-rescue-tx2305/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content=7c...
1,70490328,MO486,MO,Mack,Dog,Adult,Female,Extra Large,https://www.petfinder.com/dog/mack-70490328/mo/st-louis/wonder-weims-rescue-mo486/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content=7ce2fffe-d69d-...
2,70490326,MI812,MI,Lahni! DNA tested!,Dog,Adult,Female,Large,https://www.petfinder.com/dog/lahni-dna-tested-70490326/mi/eastpointe/misfit-angels-dog-rescue-mi812/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_con...
3,70490283,MS214,MS,Jughead Jones,Dog,Baby,Male,Large,https://www.petfinder.com/dog/jughead-jones-70490283/ms/baldwyn/jericho-rescued-fur-babies-ms214/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content...
4,70490324,AZ57,AZ,Mona,Dog,Young,Female,Large,https://www.petfinder.com/dog/mona-70490324/nm/albuquerque/blackhat-humane-society-az57/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content=7ce2fffe...

In [28]:
len(new_animals_df2)

1914

In [29]:
new_animals_df2.to_csv('jan29_states_final.csv')