In [1]:
# Dependencies
import random
import json
import requests
from pprint import pprint
import pandas as pd
from pathlib import Path

In [21]:
# load and read csv file
animals = Path("../Resources/cleaned_animals.csv")
# Read School and Student Data File and store into Pandas DataFrames
animals_df = pd.read_csv(animals)

In [22]:
animals_df.head()

,Unnamed: 0,id,organization_id,name,type,age,gender,size,contact,url
0,0,70490327,TX2305,Davon,Dog,Adult,Male,Large,"{'email': 'rescue@throwadogabone.org', 'phone'...",https://www.petfinder.com/dog/davon-70490327/o...
1,1,70490328,MO486,Mack,Dog,Adult,Female,Extra Large,"{'email': 'wonderweimsrescue@gmail.com', 'phon...",https://www.petfinder.com/dog/mack-70490328/mo...
2,2,70490326,MI812,Lahni! DNA tested!,Dog,Adult,Female,Large,"{'email': 'misfitangels@gmail.com', 'phone': '...",https://www.petfinder.com/dog/lahni-dna-tested...
3,3,70490283,MS214,Jughead Jones,Dog,Baby,Male,Large,"{'email': 'myjerichorfb@gmail.com', 'phone': '...",https://www.petfinder.com/dog/jughead-jones-70...
4,4,70490324,AZ57,Mona,Dog,Young,Female,Large,"{'email': 'blackhathumane@gmail.com', 'phone':...",https://www.petfinder.com/dog/mona-70490324/nm...

In [23]:
len(animals_df)

2272

In [24]:
unique_id = animals_df["id"].unique()
len(unique_id)

2232

In [25]:
dup_animals_df = animals_df["id"].duplicated()
dup_animals_df.duplicated(keep = False)

0       True
1       True
2       True
3       True
4       True
        ...
2267    True
2268    True
2269    True
2270    True
2271    True
Name: id, Length: 2272, dtype: bool

In [26]:
unique_org_count = animals_df["organization_id"].unique()
unique_org_count

array(['TX2305', 'MO486', 'MI812', 'MS214', 'AZ57', 'WA02', 'NC516',
       'CA1750', 'TN147', 'CA2373', 'TX2584', 'CT142', 'CA2686', 'GA50',
       'QC41', 'WA727', 'TX993', 'TX2467', 'ON580', 'MS231', 'KY519',
       'IL559', 'CA2903', 'CA2599', 'MO122', 'CA2390', 'ON648', 'TX2579',
       'IL507', 'PA1015', 'OK401', 'NY712', 'NE152', 'MN17', 'IL885',
       'MA515', 'OR138', 'TN325', 'NC941', 'QC06', 'CA1061', 'FL599',
       'FL221', 'CA912', 'CA2453', 'CA2246', 'MI85', 'AR50', 'NJ980',
       'SC212', 'VA698', 'CA257', 'SC183', 'CA542', 'FL1562', 'CT602',
       'CT625', 'NY1488', 'TN385', 'NC1007', 'FL611', 'CA765', 'NJ1024',
       'IA04', 'WA650', 'VA96', 'TN74', 'AZ108', 'TN794', 'CA1902',
       'VA877', 'ID04', 'TN1015', 'NJ811', 'SC331', 'TN807', 'TX62',
       'CA449', 'MO798', 'VA629', 'CT561', 'FL1360', 'TX1257', 'OR141',
       'KY269', 'OH166', 'GA52', 'IN287', 'NC119', 'LA449', 'OH1122',
       'NJ833', 'KY550', 'SC592', 'FL1814', 'CA440', 'FL367', 'TN25',
       'CA2713', 'FL1626', 'NC1192', 'TX2269', 'IL889', 'AR372', 'GA830',
       'NJ736', 'NC1056', 'OR177', 'FL252', 'NY1570', 'NY245', 'MI340',
       'SK14', 'VA28', 'ID100', 'KY167', 'IL976', 'NC1066', 'IL157',
       'IL1014', 'CT571', 'MN441', 'OR79', 'CA1502', 'MO179', 'MD456',
       'IA91', 'TX1936', 'TX2639', 'WI575', 'NJ620', 'IA260', 'CO563',
       'NM137', 'OR07', 'TN360', 'WI507', 'IL899', 'KY463', 'IN427',
       'CA759', 'IN85', 'VA894', 'DC28', 'TX54', 'FL758', 'CA674',
       'TX1531', 'OH1281', 'AZ776', 'CA255', 'NC1018', 'AB150', 'LA448',
       'NY33', 'TX2562', 'FL852', 'NY1417', 'CA229', 'TX1317', 'CA2515',
       'NJ181', 'FL279', 'TX1135', 'IL786', 'FL216', 'CA2099', 'IN487',
       'NC16', 'SC594', 'IN76', 'NY1447', 'WI264', 'ME03', 'NC1180',
       'ME160', 'FL707', 'VA213', 'MA450', 'MI1108', 'MD454', 'FL1810',
       'IA14', 'WI111', 'MS174', 'WA714', 'OK37', 'BC296', 'CO91',
       'MN444', 'TX947', 'KY188', 'IL971', 'VA797', 'WA728', 'TX2483',
       'FL1729', 'MO286', 'NY615', 'MI985', 'WA175', 'FL1844', 'CO512',
       'NY990', 'FL1383', 'OR400', 'FL205', 'TX1475', 'NJ58', 'CA24',
       'TX851', 'GA959', 'IN667', 'TN344', 'NY733', 'AL09', 'TX155',
       'CA1282', 'TX677', 'GA739', 'TX478', 'AZ723', 'NY392', 'CT608',
       'OK475', 'CA754', 'VT85', 'OK528', 'AL523', 'GA979', 'FL761',
       'PA738', 'AK56', 'TN51', 'WA119', 'PA235', 'MI1134', 'TX2761',
       'FL304', 'CA803', 'AB142', 'AZ101', 'FL668', 'AZ103', 'AZ779',
       'GA261', 'VA75', 'IA269', 'AL121', 'UT206', 'OH771', 'TN977',
       'KS64', 'CA2812', 'ID155', 'KY481', 'PA524', 'CA2483', 'PA1146',
       'PA1144', 'CA2467', 'CA190', 'MN351', 'WI53', 'GA461', 'CA39',
       'CA387', 'CO441', 'ON350', 'OH926', 'MI935', 'FL1569', 'NV188',
       'NM59', 'TX2730', 'AZ110', 'MD492', 'OR23', 'AZ89', 'CA1571',
       'FL464', 'ON676', 'NY1463', 'VA29', 'NY1398', 'FL185', 'AZ313',
       'AB74', 'IN24', 'LA368', 'NM220', 'MI998', 'IN113', 'NC500',
       'TX1528', 'VA596', 'MD423', 'FL655', 'CA2912', 'CA866', 'CA2430',
       'NC290', 'NC590', 'MS24', 'TX403', 'CA595', 'CA1110', 'VA728',
       'CA894', 'LA130', 'GA244', 'NC448', 'CA324', 'GA562', 'OK30',
       'CA2271', 'NM13', 'NY08', 'GA247', 'CA611', 'NJ883', 'MA147',
       'MO208', 'NJ763', 'TN268', 'TN478', 'CA2631', 'FL273', 'CA1164',
       'CA1727', 'CA559', 'IA208', 'OK333', 'NV26', 'GA680', 'IN754',
       'NY1262', 'VA857', 'PA110', 'RI23', 'NC371', 'MT89', 'OK546',
       'CA1977', 'TN53', 'NY1183', 'AZ655', 'PA339', 'NY341', 'OK480',
       'TX2549', 'CA1721', 'NJ699', 'CA710', 'NY1379', 'CA2667', 'NY1420',
       'TX1218', 'CA1394', 'SC476', 'FL1892', 'MN241', 'OH342', 'NC461',
       'IL782', 'MD477', 'PA516', 'CA1775', 'FL787', 'OH1339', 'GA821',
       'RI79', 'WA783', 'NM225', 'TX1411', 'IA60', 'WA577', 'VA850',
       'GA18', 'SC417', 'CA2604', 'BC93', 'OH263', 'CA78', 'CA2867',
       'CA3146', 'MS206', 'TX2575', 'GA693', 'CT438', 'IL958', 'TX729',
       'IA36', 'CT31', 'KS277', 'CA117', 'MN289', 'SC497', 'IL244',
       'AZ599', 'SC572', 'OH82', 'WA70', 'TX46', 'FL806', 'TX198', 'AB36',
       'ON525', 'TX2666', 'WA7', 'CA420', 'MT85', 'MS62', 'AK04', 'SC300',
       'GA222', 'AL432', 'MN491', 'LA430', 'LA65', 'VA174', 'NY275',
       'KY494', 'CO34', 'MO121', 'CO327', 'AZ453', 'CA3109', 'GA26',
       'IN480', 'IN91', 'TX2679', 'CO27', 'TX359', 'GA788', 'CA2626',
       'KY105', 'FL312', 'CA541', 'MS125', 'KY422', 'PA1005', 'TX2450',
       'TX1739', 'TX2410', 'NY12', 'SC38', 'NY494', 'CA2940', 'CA1132',
       'WI533', 'NV187', 'NC488', 'TX903', 'WA617', 'CA547', 'IN46',
       'CA3092', 'IN301', 'NY187', 'MA393', 'GA469', 'NC1200', 'FL1770',
       'CA914', 'MD514', 'GA960', 'MN76', 'MN507', 'CA1181', 'TX774',
       'CO525', 'WI551', 'AL211', 'CT247', 'ID159', 'MI470', 'TN369',
       'TX988', 'ON119', 'GA319', 'IL192', 'FL546', 'IL274', 'MS09',
       'FL289', 'MN34', 'VA219', 'OR285', 'OH800', 'OK467', 'NC350',
       'IN171', 'GA299', 'CA216', 'VA202', 'FL1861', 'MS26', 'MO781',
       'IN64', 'CO324', 'MA131', 'SC42', 'KY289', 'IN02', 'MT74',
       'NC1227', 'NJ769', 'NJ53', 'NJ47', 'KS47', 'WV28', 'KY216',
       'IN430', 'CA2024', 'FL1828', 'KY523', 'VA176', 'FL1399', 'NJ376',
       'CA1534', 'IL913', 'VA88', 'TX309', 'TX38', 'TX112', 'OH177',
       'UT28', 'CA2661', 'VA126', 'MI296', 'GA335', 'IN190', 'TX571',
       'IN94', 'NY359', 'GA926', 'GA423', 'GA973', 'NJ01', 'IN32',
       'NH170', 'NH31', 'OH317', 'CO350', 'CA15', 'AL43', 'AZ20', 'FL275',
       'PA86', 'ON578', 'TX236', 'NE73', 'FL69', 'NJ20', 'FL364', 'CA764',
       'CO52', 'WV13', 'NE19', 'CA3073', 'NY1545', 'CO573', 'IL868',
       'WA07', 'NY868', 'FL1500', 'WI86', 'OH160', 'CA30', 'WV48',
       'TX2063', 'CA3100', 'TX487', 'TX1239', 'MO228', 'FL170', 'TN313',
       'OH1232', 'WI488', 'GA529', 'AR370', 'TN850', 'GA170', 'MO678',
       'WV46', 'TX959', 'MA29', 'CA3186', 'WI523', 'CA766', 'FL233',
       'NH25', 'TX1633', 'IL496', 'GA612', 'TX2260', 'OH541', 'MD247',
       'UT117', 'TX252', 'CA960', 'CA457', 'VA492', 'TN671', 'NJ02',
       'TX2018', 'TN172', 'VA276', 'TX1918', 'FL1598', 'CO138', 'NM41',
       'FL1223', 'NV215', 'KS07', 'CA348', 'FL286', 'TN61', 'OK204',
       'MA243', 'KY102', 'CA1527', 'KY368', 'OH650', 'CA3204', 'NC132',
       'IA194', 'TX1754', 'OH1175', 'IL173', 'NV36', 'CO125', 'GA70',
       'TX2471', 'CA738', 'ID49', 'WA519', 'FL47', 'GA803', 'WA780',
       'KS283'], dtype=object)

In [27]:

org_count = len(unique_org_count)
org_count

642

In [28]:
unique_type_count = animals_df["type"].unique()
unique_type_count

array(['Dog', 'Cat'], dtype=object)

In [29]:
type_count = len(unique_type_count)
type_count

2

In [30]:
unique_id = animals_df["id"].unique()
len(unique_id)

2232

In [33]:
unique_name = animals_df["name"].unique()
unique_name

array(['Davon', 'Mack', 'Lahni! DNA tested! ', ..., 'Hilda', 'Erik',
       'Moon'], dtype=object)

In [34]:
len(unique_name)

1914