In [1]:
# Dependencies
import random
import json
import requests
from pprint import pprint
import pandas as pd
from pathlib import Path

In [2]:
# load and read csv file
animals = Path("../Resources/project3_animals.csv")
# Read School and Student Data File and store into Pandas DataFrames
animals_df = pd.read_csv(animals)

In [4]:
animals_df.head()

,Unnamed: 0,id,organization_id,name,type,age,gender,size,contact,url
0,0,70490327,TX2305,Davon,Dog,Adult,Male,Large,"{'email': 'rescue@throwadogabone.org', 'phone'...",https://www.petfinder.com/dog/davon-70490327/o...
1,1,70490328,MO486,Mack,Dog,Adult,Female,Extra Large,"{'email': 'wonderweimsrescue@gmail.com', 'phon...",https://www.petfinder.com/dog/mack-70490328/mo...
2,2,70490326,MI812,Lahni! DNA tested!,Dog,Adult,Female,Large,"{'email': 'misfitangels@gmail.com', 'phone': '...",https://www.petfinder.com/dog/lahni-dna-tested...
3,3,70490283,MS214,Jughead Jones,Dog,Baby,Male,Large,"{'email': 'myjerichorfb@gmail.com', 'phone': '...",https://www.petfinder.com/dog/jughead-jones-70...
4,4,70490324,AZ57,Mona,Dog,Young,Female,Large,"{'email': 'blackhathumane@gmail.com', 'phone':...",https://www.petfinder.com/dog/mona-70490324/nm...

In [6]:
len(animals_df)

2320

In [9]:
unique_org_count = animals_df["organization_id"].unique()
org_count = len(unique_org_count)
org_count

651